# --- BACKEND (Laravel) ---
backend/vendor/
backend/node_modules/
backend/.env
backend/storage/*.key
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*
backend/public/storage
backend/public/hot
backend/.phpunit.result.cache

# --- FRONTEND (React) ---
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# --- DIVERS ---
.DS_Store
.vscode/
node_modules/